.header {
  padding: 24px 0;
  background-color: #fafafa;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    max-width: 1392px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  &__logo {
    flex: 0 0 auto;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 162px;
        height: auto;
      }
    }
  }

  &__nav {
    flex: 0 1 538px;

    &-link {
      display: inline-block;
      padding: 10px 30px;
      font-weight: 700;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: rgba($color: #000000, $alpha: 0.6);
      transition-property: color;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;

      &:hover {
        color: rgba($color: #000000, $alpha: 1);
      }

      &:active {
        color: #bd3132;
      }

      &.active {
        color: #bd3132;
      }

      &.active:hover {
        color: #a30404;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 30px;

    &-search {
      flex: 0 0 auto;

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        border-radius: 500px;
        background-color: rgba($color: #f5f5f5, $alpha: 0.5);
        transition-property: background-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: rgba($color: #f5f5f5, $alpha: 1);
        }

        &::before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../assets/search.svg) center / cover no-repeat;
          transition-property: filter, opacity;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
          opacity: 0.5;
          filter: brightness(0%);
        }

        &:hover::before {
          opacity: 1;
          filter: brightness(100%);
        }
      }
    }

    &-user {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      gap: 10px;

      &-avatar {
        display: block;
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #f5f5f5;
        border-radius: 40px;
        overflow: hidden;

        &-image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-notifications {
        &-button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          padding: 0;
          border: none;
          border-radius: 500px;
          background-color: rgba($color: #f5f5f5, $alpha: 0.5);
          transition-property: background-color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
          will-change: background-color;
          cursor: pointer;

          &:hover {
            background-color: rgba($color: #f5f5f5, $alpha: 1);
          }

          &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: url(../assets/bell.svg) center / cover no-repeat;
            filter: brightness(0%);
            opacity: 0.5;
            transition-property: filter, opacity;
            transition-timing-function: ease-in-out;
            transition-duration: 0.2s;
            will-change: filter, opacity;
          }

          &:hover::before {
            filter: brightness(100%);
            opacity: 1;
          }

          &-counter {
            position: absolute;
            left: 26px;
            bottom: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 18px;
            min-height: 18px;
            padding: 2px 4px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 11px;
            line-height: 100%;
            text-align: center;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 15px;
            background-color: #bd0102;
          }
        }
      }
    }

    &-create {
      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        gap: 10px;
        min-height: 42px;
        padding: 10px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 42px;
        background-color: #f5f5f5;
        transition-property: background-color, color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #bd3132;
        }

        &::after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../assets/plus.svg) center / cover no-repeat;
          transition-property: filter;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
        }

        &:hover::after {
          filter: brightness(0%) invert(100%);
        }

        &-text {
          font-weight: 700;
          font-size: 13px;
          line-height: 150%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #bd0102;
          transition-property: color;
          transition-timing-function: ease-in-out;
          transition-duration: 0.2s;
        }

        &:hover &-text {
          color: #ffffff;
        }
      }
    }
  }
}
